{
	"env": {
		"browser": true,
		"commonjs": true,
		"es6": true
	},
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
	"plugins": ["react"],
	"rules": {
		"indent": ["error", 2],
		"linebreak-style": ["error", "unix"],
		"quotes": ["error", "single"],
    "semi": ["error", "always"],
    "react/prop-types": ["warn"],
    "react/jsx-max-props-per-line": [1, { "when": "always" }],
    "react/sort-prop-types": "warn"
	},
	"parser": "babel-eslint"
}
